body {
  background: #141414;
  color: rgba(255, 255, 255, 0.548);
}
.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.row > * {
  flex-shrink: 5;
  width: 300px;
}
.row{
  --bs-gutter-x: 0;
  
}
.image-container{
  position: relative;
  transition: 0.2s;
}
.image-container:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.image-container:hover .overlay{
  opacity: 1;
}
.overlay{
  position: absolute;
  width: 300px;
  background: rgba(0,0 ,0,0.8);
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
